{% comment %}
  Collection template, used on collection.liquid and collection.image.liquid
{% endcomment %}

{% paginate collection.products by 100 %}

{% assign show_category_image = true %}
{% for link in linklists.categories.links %}
    {% if link.title == collection.title %}
        {% assign show_category_image = false %}
    {% endif %}
{% endfor %}

<div class="grid-uniform">
    <div class="grid__item">
        <header class="grid-uniform designer-grid">
            {% if collection.image and show_category_image %}
                <div class="grid__item large--one-third medium--one-whole small--one-whole designer-desc-wrapper" style="vertical-align:middle">
            {% else %}
                <div class="grid__item large--one-whole medium--one-whole small--one-whole designer-desc-wrapper" style="vertical-align:middle">
            {% endif %}
            <div class="grid-header__text-wrapper">
            <div class="grid-header__text">
              <h1 class="text-center">{{ collection.title }}</h1>
                {% if collection.metafields.designer.city %}
                    <p class="grid-product__title text-center">
                        {{ collection.metafields.designer.city }}
                    </p>
                {% endif %}

              {% if collection.description != blank %}
                <div class="designer-description">
                    <!div class="rte">
                      {{ collection.description }}
                    <!/div>
                </div>
              {% endif %}

              {% if settings.collection_tags_enable %}
                {% if collection.all_tags.size > 0 %}
                  {% comment %}
                    To provide a 'catch-all' link at the top of the list,
                    check against the collection.handle, product type, and vendor.
                  {% endcomment %}
                  <ul class="tags tags--collection inline-list">
                    <li{% unless current_tags %} class="tag--active"{% endunless %}>
                      {% comment %}
                        Good for /collections/all collection and regular collections
                      {% endcomment %}
                      {% if collection.handle %}
                        <a href="/collections/{{ collection.handle }}">
                          {{ 'collections.general.all_of_collection' | t }}
                        </a>

                      {% comment %}
                        Good for automatic type collections
                      {% endcomment %}
                      {% elsif collection.current_type %}
                        <a href="{{ collection.current_type | url_for_type }}">
                          {{ 'collections.general.all_of_collection' | t }}
                        </a>

                      {% comment %}
                        Good for automatic vendor collections
                      {% endcomment %}
                      {% elsif collection.current_vendor %}
                        <a href="{{ collection.current_vendor | url_for_vendor }}">
                          {{ 'collections.general.all_of_collection' | t }}
                        </a>
                      {% endif %}
                    </li>

                    {% for tag in collection.all_tags %}
                      {% if current_tags contains tag %}
                        <li class="tag--active">
                          {{ tag | link_to_remove_tag: tag }}
                        </li>
                      {% else %}
                        <li>
                          {% comment %}
                            Use link_to_add_tag if you want to allow filtering
                            by multiple tags
                          {% endcomment %}
                          {{ tag | link_to_tag: tag }}
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                {% endif %}
              {% endif %}

              {% if settings.collection_tags_enable %}
                <hr class="hr--small hr--clear">
              {% endif %}
              </div></div>
            </div>
            {% comment %} Header Image {% endcomment %}
            {% if collection.image and show_category_image %}
            <div class="grid__item large--two-thirds medium--one-whole small--one-whole small--hide designer-img-wrapper">
                <div class="grid-header__image-wrapper">
                    <div class="grid-header__image text-center">
                        {% if collection.image %}
                            <img src="{{ collection.image | img_url: '800x600' }}" alt="{{collection.title}}. Attire from around the world at nyerie.com" class="designer-img">
                        {% else %}<img src="http://placehold.it/800x600" class="">
                        {% endif %}
                        {% if collection.metafields.designer.image_caption %}
                        <div class="image-caption text-center">
                            {{ collection.metafields.designer.image_caption }}
                        </div>
                        {% endif %}

                    </div>
                </div>
            </div>
            {% endif %}

            </div>
        </header>
    </div>


    <div class="grid__item">
        <div class="grid-uniform">
{% assign grid_item_width = 'medium--one-half large--one-third' %}
{% for product in collection.products %}
    {% include 'product-grid-item' %}
{% else %}
    {% if collection.handle == 'all' %}
        {% comment %}
          Add default products to help with onboarding for collections/all only
        {% endcomment %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

        {% include 'onboarding-empty-collection' %}

      {% else %}

        {% comment %}
          If collection exists but is empty, display message
        {% endcomment %}
        <div class="grid__item text-center">
          <p>{{ 'collections.general.no_matches' | t }}</p>
        </div>

    {% endif %}
{% endfor %}
</div>
</div>
</div><!-- end grid -->

{% if paginate.pages > 1 %}
  <div class="pagination">
    {{ paginate | default_pagination | replace: '&laquo; Previous', '<span class="icon icon-arrow-left" aria-hidden="true"></span>' | replace: 'Next &raquo;', '<span class="icon icon-arrow-right" aria-hidden="true"></span>' }}
  </div>
{% endif %}

{% endpaginate %}
