
{% comment %}

MailChimp is the go-to newsletter service for Shopify.
Use the link below to find your MailChimp "form action"
and insert it in your site settings.

MailChimp newsletter integration and requirement:
 - http://docs.shopify.com/support/configuration/store-customization/where-do-i-get-my-mailchimp-form-action

{% endcomment %}

{% if settings.newsletter_form_action != blank %}
{% assign form_action = settings.newsletter_form_action %}
<form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
  <label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
  <div class="nyerie-footer__newsletter-form">
	<div class="input-group">
	  <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="Email" class="input-group-field nyerie-footer__newsletter__input" autocorrect="off" autocapitalize="off">
	  <span class="input-group-btn">
		<button type="submit" class="btn nyerie-footer__newsletter__submit" name="subscribe" id="Subscribe">
			<span class="newsletter__submit-text--large">
			Subscribe</span>
			<span class="newsletter__submit-text--small">
<span class="icon icon-arrow-right" aria-hidden="true"></span></span>
		</button>
	  </span>
	</div>
  </div>
</form>
{% else %}
{% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
	<div class="newsletter--form">
	  <div class="note form-success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
	</div>
  {% else %}
	<label for="Email" class="newsletter__label hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
	<input type="hidden" name="contact[tags]" value="newsletter">
	<div class="newsletter--form">
	  <div class="input-group">
		<input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email" class="input-group-field nyerie-footer__newsletter__input" autocorrect="off" autocapitalize="off">
		<span class="input-group-btn">
		  <button type="submit" class="btn nyerie-footer__newsletter__submit" name="commit" id="Subscribe"><span class="newsletter__submit-text--large">
		  Subscribe</span>
		  <span class="newsletter__submit-text--small newsletter__submit-text--medium">
<span class="icon icon-arrow-right" aria-hidden="true"></span></span></button>
		</span>
	  </div>
	</div>
  {% endif %}
{% endform %}
{% endif %}
